.productContainer {
  display: grid;
  grid-template-columns: repeat(3, 33%);
}

.card {
  display: grid;
  grid-template-rows: 1fr fit-content;
  justify-items: center;
  padding: 5px;
  border: 1px solid grey;
  margin-block: 30px;
  margin-inline: 10px;
}

.productData {
  text-align: center;
  width: fit-content;
  display: flex;
  flex-direction: column;
}
.productTitle {
  max-width: 75%;
  overflow-wrap: break-word;
  word-wrap: break-word;
  white-space: normal;
  line-height: 1.2;
  justify-self: center;
}

.imgWrapper {
  overflow: hidden;
  height: 300px;
  position: relative;
}
.productImg {
  height: 100%;
  width: 100%;
  object-fit: fill;
}
