.pickUpContainer div {
    background-color: white;
    margin-bottom: 5px;
    color: black;
    width: 20vw;
}

.addressDropdown {
    background-color: white;
    color: black;
    height: fit-content;
    max-height: 20vh;
    width: 40vw;
    overflow-y: scroll;
    list-style: none;
}

.addressDropdown li:hover, .pickUpContainer div:hover {
    background-color: lightgray;
    cursor: pointer;
}

.card {
    background-color: white;
    color: black;
    max-width: 75%;
    border-radius: 20px;
    padding: 25px 40px ;
    margin-left: 5vw;
    margin-bottom: 3vmin;
}

.userEmail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
}

.checkoutForm input {
    background-color: white;
    margin-bottom: 1vmin;
    padding: 10px;
    color: black;
    border: none;
    border-bottom: 3px solid black;
}

body {
    background-color: lightgray;
}

.nameIn {
    display: flex;
}