.footerContainer {
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  color: white;
  padding: 2vh 5vw;
  gap: 5%;
  width: 100%;
}

.footerContainer p, .footerContainer h3 {
  margin: 0;
}

.footerContainer :last-child {
  grid-column: 1/3;
}


.mailingList {
  grid-column: 1/3;
  align-self: center;
}

.mailingList h3 {
  margin-bottom: 1vh;
}

.mailingList input {
  width: 100%;
  background-color: white;
  padding: 2vmin;
  margin-bottom: 0.5vh;
  border: 1px solid black;
}

.mailingList small {
  opacity: 0.9;
}

.mailingList button {
  height: 100%;
}

.mailingWrapper {
  display: flex;
  width: 100%;
  align-items: center;
}

@media (min-width: 768px) {
  .mailingWrapper {
    width: 50%;
  }
}