
.checkout {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 1vh 10vw;
    justify-items: center;
}

.orderSummary {
    background-color: white;
    color: black;
    max-height: 95vh;
    overflow-y: scroll;
    padding: 25px;
    border-radius: 15px;
    min-height: 70vh;
}
.orderSummaryTitle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.itemTitle {
    display: flex;
    flex-wrap: wrap;  
    align-items: center;
    justify-content: space-between;
    width: 90%;
    gap: 0.5rem;
    word-break: break-word; 
}

.itemCard {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    padding: 10px;
}

.imgContainer {
    width: 100px;    
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f8f8f8; 
    border-radius: 8px; 
    margin-right: 10px;
    overflow: hidden;  
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.pickUpContainer div {
    background-color: white;
    margin-bottom: 5px;
    color: black;
    width: 20vw;
}

.error {
    height: 2rem;
    color: red;
    font-style: italic;
}

.addressDropdown {
    background-color: white;
    color: black;
    height: fit-content;
    max-height: 20vh;
    width: 40vw;
    overflow-y: scroll;
    list-style: none;
}

.addressDropdown li:hover, .pickUpContainer div:hover {
    background-color: lightgray;
    cursor: pointer;
}

.card {
    background-color: white;
    color: black;
    max-width: 75%;
    border-radius: 20px;
    padding: 25px 40px ;
    margin-left: 5vw;
    margin-bottom: 3vmin;
}

.userEmail {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.checkoutForm {
    display: flex;
    flex-direction: column;
}

.checkoutForm input {
    background-color: white;
    margin-bottom: 1vmin;
    padding: 10px;
    color: black;
    border: none;
    border-bottom: 3px solid black;
}

body {
    background-color: lightgray;
}

.nameIn {
    display: flex;
}

.pickupTitle {
    display: flex;
    align-items: center;
}

.pickBase {
    background-color: white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid black;
    position: relative;
    transition: border 0.05s;
}
.activePick {
    border: 6px solid #222;
}

.activePick::after {
    background: #222;
}