.contentWrapper {
    padding: 3vmin;
    margin-bottom: 5vh;
}

.story1 div h2 {
    font-size: 3rem;
    margin: 2vmin;
}

.small {
    grid-column: 2;
}

.aboutHeader {
    margin-top: 2vh;
}

.story1 {
    display: flex;
    flex-direction: column;
}

.paragraph {
    margin-bottom: 2vh;
}

.header3 {
    font-size: 1.5rem;
}

.graphicSection {
    margin-top: 5vh;
    padding: 2vmin;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3vh;
}

.graphicSection img {
    height: 10vh;
    width: auto;
    margin-bottom: 0.5em;
}

.graphicSection span {
    display: block;
    width: fit-content;
}

.initiatives {
    margin-top: 5vh;
}

.initiatives p {
    margin-bottom: 3vh;
}

.initiatives:first-child {
    margin-bottom: 5vh;
}

.initiatives h3 {
    font-size: 2rem;
}

.initiatives h4 {
    font-size: 1.5rem;
}

@media (min-width: 1068px) {
    
    .contentWrapper p {
        font-size: 1.2rem;
    }
    
    .graphicSection {
        flex-direction: row;
    }

    .graphicSection img {
        height: 5vh;
        margin-bottom: 0;
    }

    .story1, .initiatives {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2vw;
        align-items: center;
    }

    .initiatives img {
        height: 75vh;
    }
}